button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 40px;
  margin: 14px auto;
  color: aliceblue;
  background-color: tomato;
  border: none;
  border-radius: 6px;
}

button:hover {
  cursor: pointer;
}
